<!-- Update Modal -->
<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Friend</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
            </div>

            <form class="row g-3 needs-validation" [formGroup]="updateForm" novalidate>

                <input formControlName="id" type="hidden">

                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="givenName" type="text" class="form-control" id="givenName" aria-label="Given Name" [ngClass]="{'is-invalid': updateForm.get('givenName')?.invalid && (updateForm.get('givenName')?.dirty || updateForm.get('givenName')?.touched), 'is-valid': updateForm.get('givenName')?.valid && (updateForm.get('givenName')?.dirty || updateForm.get('givenName')?.touched)}">
                                    <label for="givenName">Given Name</label>
                                    <div class="valid-feedback" *ngIf="updateForm.get('givenName')?.valid && (updateForm.get('givenName')?.dirty || updateForm.get('givenName')?.touched)">Valid Input</div>
                                    <div class="invalid-feedback" *ngIf="updateForm.get('givenName')?.getError('maxlength')">The field 'given name' has length of {{updateForm.get('givenName')?.getError('maxlength')['actualLength']}} which exceeds the maximum length of {{updateForm.get('givenName')?.getError('maxlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="updateForm.get('givenName')?.getError('required') && (updateForm.get('givenName')?.dirty || updateForm.get('givenName')?.touched)">The field 'given name' is required.</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="familyName" type="text" class="form-control" id="familyName" aria-label="Family Name" [ngClass]="{'is-invalid': updateForm.get('familyName')?.invalid && (updateForm.get('familyName')?.dirty || updateForm.get('familyName')?.touched), 'is-valid': updateForm.get('familyName')?.valid && (updateForm.get('familyName')?.dirty || updateForm.get('familyName')?.touched)}">
                                    <label for="familyName">Family Name</label>
                                    <div class="valid-feedback" *ngIf="updateForm.get('familyName')?.valid && (updateForm.get('familyName')?.dirty || updateForm.get('familyName')?.touched)">Valid Input</div>
                                    <div class="invalid-feedback" *ngIf="updateForm.get('familyName')?.getError('maxlength')">The field 'family name' has length of {{updateForm.get('familyName')?.getError('maxlength')['actualLength']}} which exceeds the maximum length of {{updateForm.get('familyName')?.getError('maxlength')['requiredLength']}}.</div>
                                    <div class="invalid-feedback" *ngIf="updateForm.get('familyName')?.getError('required') && (updateForm.get('familyName')?.dirty || updateForm.get('familyName')?.touched)">The field 'family name' is required.</div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
                    <button type="button" class="btn btn-primary" [disabled]="!updateForm.valid" (click)="save()">Save Changes</button>
                </div>

            </form>

        </div>
    </div>
</div>